.container {
  padding: 2em;
  min-height: 100vh;
  display: grid;
  place-items: center;

  --icon-size: 48;
  --icon-bar-size: 8;
  --icon-translation-size: calc((var(--icon-size) - var(--icon-bar-size)) / 2);
}

.icon {
  @apply fill-[#747d8c] cursor-pointer;

  max-width: 100%;
  vertical-align: baseline;

  & rect {
    @apply transition-all duration-300 ease-in-out;
  }

  &:hover {
    @apply fill-[#2ed573];

    & .top,
    & .bottom {
      @apply origin-center;
    }

    & .top {
      transform: rotate(45deg)
        translate(0, calc(var(--icon-translation-size) * 1px));
    }

    & .bottom {
      transform: rotate(-45deg)
        translate(0, calc(var(--icon-translation-size) * -1px));
    }

    & .middle {
      @apply opacity-0;
    }
  }
}

.top {
}
.middle {
}
.bottom {
}
