.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  padding: 60px 80px;
  margin: 0 auto;

  @media screen and (max-width: 833px) {
    padding: 60px 30px;
  }
}
.courses {
  width: 100%;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.lecturers {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.reviews {
  background-color: var(--clr-secondary-main);
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.blogs {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
