@mixin container-width($gap, $qty, $space) {
  max-width: calc((100% - $gap) / $qty + $space);

  @media screen and (max-width: 1280px) {
    max-width: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  padding: 60px 80px;
  margin: 0 auto;

  @media screen and (max-width: 833px) {
    padding: 60px 30px;
  }
}

.container {
  --gap: 10px;
  display: flex;
  justify-content: center;
  gap: var(--gap);

  width: 100%;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
  }
}

.box {
  width: 100%;
  @include container-width(var(--gap), 2, -30px);

  padding: 98px 66px;
  border-radius: 50px;

  background-color: var(--dark);

  @media screen and (max-width: 1280px) {
    padding: 86px 50px;
  }

  @media screen and (max-width: 833px) {
    padding: 40px;
  }
}

.form {
  @include container-width(var(--gap), 2, 30px);
}

.courses {
  width: 100%;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
