.list {
  @apply flex gap-2 p-10 w-[1200px] mx-auto;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.item {
  @apply w-[1500px] h-[200px] rounded-md cursor-pointer;
  transition: 0.5s;
  filter: brightness(0);

  &:hover {
    filter: brightness(1);
    transform: translateZ(200px);

    & + * {
      filter: brightness(0.6);
      transform: translateZ(150px) rotateY(40deg);
    }

    & + * + * {
      filter: brightness(0.4);
      transform: translateZ(70px) rotateY(20deg);
    }

    & + * + * + * {
      filter: brightness(0.2);
      transform: translateZ(30px) rotateY(10deg);
    }
  }
  &:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
  }

  &:has(+ * + *:hover) {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
  }

  &:has(+ * + * + *:hover) {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
  }
}
