.container {
  @apply overflow-y-scroll h-screen snap-y snap-proximity;
}

.section {
  @apply h-screen snap-center text-[7rem];
  color: lightgray;
  &:nth-child(1) {
    background-color: lightblue;
  }
  &:nth-child(2) {
    background-color: lightcoral;
  }
  &:nth-child(3) {
    background-color: lightgreen;
  }
  &:nth-child(4) {
    background-color: lightsalmon;
  }
  &:nth-child(5) {
    background-color: lightgoldenrodyellow;
  }
}
